header {
  grid-row: 1;
  width: 100%;
  @include box-shadow;
}

// For all a
a {
  text-decoration: none;
}

nav {
  display: flex;
  justify-content: center;
  font-family: $general;
  font-weight: $fw-n;
  ul {
    list-style-type: none;
    margin: 0;
    padding: .7em;
    width: 50%;
    display: flex;
    justify-content: space-between;

    //Let's make a neat hover effect
    li a {
      text-shadow: none;
      transition: text-shadow .4s;
      &:hover {
        @include text-shadow;
      }
    }
    //--------MediaQuery---------//
    @include mobile {
      width: 100%;
      font-size: .8em;
      justify-content: space-around;
    };
  }
}

.head-text {
  width: 100%;
  margin-top: 20%;
  display: flex;
  flex-direction: column;

  h1 {
    margin: 0 auto;
    font-family: $logogText;
    font-size: 7.4vw;
    letter-spacing: .1em;
    @include text-shadow;

    //--------MediaQuery---------//
    @include mobile {
      font-size: 11.5vw;
      margin-top: 3em;
    };
    @include tablet {
      margin-top: 1.2em;
    }
  }

  p {
    margin: .2em auto;
    font-family: $general;
    font-size: 1.5vw;
    letter-spacing: .1em;

   //--------MediaQuery---------//
    @include mobile {
      font-size: 4vw;
    };
  }
}
